.wrapper {
    position: relative;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: 2.5vh;

<<<<<<< HEAD
    border: solid lightgreen 1px;
=======
    /* border: solid lightgreen 1px; */
>>>>>>> 9a96066 (Site Thrive v1.0)
}

.wrapper .carousel {
    justify-content: space-between;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5));
    overflow: hidden;
    cursor: pointer;
    padding-right: 2.2vw;
    width: 92%;
    gap: 1.5vw;

<<<<<<< HEAD
    border: solid aqua 1px;
=======
    /* border: solid aqua 1px; */
>>>>>>> 9a96066 (Site Thrive v1.0)
}

.carousel.dragging .square {
    user-select: none;
}

/* #region wrapper i (Setas do Carousel)*/
.wrapper i {
    display: flex;
    text-align: center;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 50px;
    top: 50%;

    background-color: white;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

    z-index: 1;
    transition: transform 0.2s ease, background-color 0.2s ease;

    /* border: solid red 1px; */
}

.wrapper i:hover {
    transform: scale(1.15);
    background-color: #e8e8e8;
}

.wrapper i:first-child {
    top: 40%;
    left: 55px;
}

.wrapper i:last-child {
    top: 40%;
    right: 55px;
}

/* #endregion */

.square {
    display: flex;
    position: relative;
    width: 100%;
    height: 20vh;
    margin: 2vh;
    background-size: cover;
    background-position: start;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    z-index: 0;
}

.square::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;

}

.square::after {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    color: rgb(234, 234, 234);
    font-size: 3vh;
    font-weight: bold;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.square:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px rgba(0, 255, 26, 1);
}