body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
}

.teste {
    display: flex;
    width: 200px;
    height: 80px;
    background: black;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, red, blue) 1;
    border-radius: 8px;
    border: color red;
}


.teste p {
    color: white;
    font-size: 20px;
}